.expr-block {
    min-width: 40px;
    min-height: 28px;
    flex-direction: row;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    border-width: 2px;
    border-color: rgb(200, 200, 200);
    padding: 2px;
    transition-property: border-color;
    transition-duration: 0.15s;
}

.expr-eval {
    border-color: rgb(2, 170, 39);
}

.expr-slot {
    min-width: 40px;
    min-height: 28px;
    margin: 2px;
    background-color: rgb(220, 220, 220);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.expr-separator {
    margin-left: 4px;
    margin-right: 4px;
    -unity-font-style: bold;
    font-size: 14px;
    color: rgb(50, 50, 50);
}

.expr-input {
    flex-grow: 0;
    flex-shrink: 0;
    width: 60px;
    color: rgb(50, 50, 50);
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;
    padding-left: 2px;
}

.expr-toolbar {
    flex-direction: row;
    height: 30px;
    background-color: rgb(230, 230, 230);
    padding-left: 6px;
    padding-right: 6px;
    align-items: center;
}

.stmt-block {
    min-width: 140px;
    min-height: 38px;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    border-width: 2px;
    border-color: rgb(200, 200, 200);
    padding: 4px;
    transition-property: border-color;
    transition-duration: 0.15s;
}

.stmt-title {
    color: rgb(30, 30, 30);
    font-weight: bold;
}

.stmt-slot {
    min-width: 80px;
    min-height: 24px;
    margin: 2px;
    flex-direction: column;
    align-items: flex-start;
}

.stmt-slot-placeholder {
    min-width: 80px;
    min-height: 24px;
    background-color: rgb(220, 220, 255);
    border-radius: 4px;
    border-width: 2px;
    border-color: rgb(180, 180, 200);
}

.stmt-eval {
    border-color: rgb(2, 170, 39);
}

.expr-selected {
    border-width: 2px;
    border-color: rgb(0, 120, 215);
}

.so-elements {
    width: 250px;
    background-color: rgb(128, 128, 128);
}

.so-editor {
    flex-grow: 1;
    background-color: rgb(161, 161, 161);
}
